@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@400;500;700&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: "Be Vietnam", sans-serif;
	background: no-repeat top -250px right -190px
		url("./images/bg-tablet-pattern.svg");
}

.container {
	width: 90%;
	max-width: 900px;
	margin: 0 auto;
	position: relative;
}

/********************************* HEADER *********************/

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 3em 0;
}

.burger-menu {
	display: none;
}

.list {
	display: flex;
	align-items: center;
	list-style: none;
}

.list-item + .list-item {
	margin-left: 1.5em;
}

.list-item a {
	text-decoration: none;
	color: hsl(228, 39%, 23%);
	font-weight: 700;
}

.list-item a:hover {
	color: hsl(227, 12%, 61%);
	cursor: pointer;
}

.cta {
	cursor: pointer;
	background-color: hsl(12, 88%, 59%);
	color: white;
	border: none;
	outline: none;
	font-family: inherit;
	padding: 0.8em 2.5em;
	border-radius: 2em;
	font-weight: 700;
	box-shadow: 0px 17px 22px -14px rgba(242, 95, 58, 0.75);
	-webkit-box-shadow: 0px 17px 22px -14px rgba(242, 95, 58, 0.75);
	-moz-box-shadow: 0px 17px 22px -14px rgba(242, 95, 58, 0.75);
}

.cta:hover {
	background-color: hsl(12, 97%, 71%);
}

/********************************* INTRO SECTION *********************/

.intro {
	display: flex;
	justify-self: center;
	align-items: center;
}

.main-heading {
	color: hsl(228, 39%, 23%);
	font-size: 3rem;
	line-height: 1.2;
}

.intro .content {
	width: 73%;
}

.box-content {
	padding-left: 3em;
}

.content {
	margin: 1em 0;
	color: hsl(227, 12%, 61%);
}

.cta-text,
.graphs {
	flex: 1;
}

.graphs img {
	max-width: 100%;
}

/**************************** WHAT'S DIFFERENT SECTION *********************/

.different::before {
	position: absolute;
	content: "";
	background: url("./images/bg-tablet-pattern.svg") no-repeat;
	background-size: 800px;
	width: 820px;
	height: 800px;
	top: 250px;
	left: -550px;
	z-index: -1;
}

.different {
	margin-top: 2em;
	display: flex;
	position: relative;
}

.different-left,
.different-right {
	flex: 1;
}

.heading {
	font-size: 2rem;
	color: hsl(228, 39%, 23%);
	line-height: 1.2;
}

.box-title {
	font-size: 0.9rem;
	color: hsl(228, 39%, 23%);
}

.box-number {
	display: flex;
	justify-self: center;
	align-items: center;
	border-radius: 2em;
	font-size: 0.8rem;
}

.number {
	background-color: hsl(12, 88%, 59%);
	color: white;
	display: flex;
	justify-self: center;
	align-items: center;
	padding: 0.5em 1.5em;
	border-radius: 2em;
	font-size: 0.8rem;
	margin-right: 1.5em;
	font-weight: 700;
}

/****************************** TESTIMONIALS SECTION *********************/

.testimonials-section {
	text-align: center;
	margin: 6em 0;
	padding: 0 1em;
}

.testimonials-container {
	margin: 5em 0 2em 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.testimonial {
	background-color: hsl(0, 0%, 98%);
	position: relative;
}

.testimonial + .testimonial {
	margin-left: 1em;
}

.testimonial img {
	width: 60px;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, -50%);
}

.testimonial .name {
	margin-top: 3.5em;
	color: hsl(228, 39%, 23%);
	font-weight: 700;
}

.testimonial .content {
	font-size: 0.8rem;
}

/********************************* CTA SECTION *********************/
.cta-banner {
	background: left bottom url("./images/bg-simplify-section-desktop.svg");
	background-color: hsl(12, 88%, 59%);
}

.cta-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 3em 0;
}

.heading-inverted {
	color: white;
	width: 50%;
	line-height: 1.2;
}

.cta-inverted {
	background-color: white;
	color: hsl(12, 88%, 59%);
	box-shadow: 0px 17px 22px -14px rgba(14, 14, 14, 0.75);
	-webkit-box-shadow: 0px 17px 22px -14px rgba(14, 14, 14, 0.75);
	-moz-box-shadow: 0px 17px 22px -14px rgba(14, 14, 14, 0.75);
}

.cta-inverted:hover {
	color: hsl(12, 97%, 71%);
	background-color: white;
}

/********************************* FOOTER ***************************/

footer {
	background-color: hsl(233, 12%, 13%);
}

.flex-footer {
	display: flex;
	padding: 3em 0;
	justify-content: space-between;
}

.social-media {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.social-media-icons {
	color: white;
	cursor: pointer;
}

.social-media-icons i {
	margin-right: 1em;
}

.social-media-icons i:hover,
.nav-bar-bottom .list .list-item a:hover {
	color: hsl(12, 88%, 59%);
}

.svg-logo {
	fill: white;
}

.nav-bar-bottom {
	flex: 2;
	display: flex;
	margin-left: 1.5em;
}

.nav-bar-bottom .list {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin: 0;
	width: 50%;
}

.nav-bar-bottom .first-list {
	justify-content: space-between;
}

.nav-bar-bottom .list a {
	color: white;
	font-weight: 400;
}

.nav-bar-bottom .list .list-item {
	font-size: 0.8rem;
	margin: 0 0 1em 0;
}

.nav-bar-bottom .list .list-item:last-child {
	margin-bottom: 0;
}

.copyright,
.challenge {
	font-size: 0.7rem;
	padding: 0.2em 0;
}

.attribution {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.copyright,
.challenge {
	color: hsl(227, 12%, 61%);
}

.challenge a {
	color: hsl(12, 88%, 59%);
}

.newsletter {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	margin-bottom: 3em;
}

.subscribe {
	border: none;
	outline: none;
	padding: 0.5em 1.2em;
	border-radius: 2em;
	font-family: inherit;
	color: hsl(12, 88%, 59%);
}

.subscribe-error-border {
	border: 1px solid hsl(12, 88%, 59%);
}

.subscribe-btn {
	margin-left: 0.5em;
	padding: 0.5em 1.2em;
}

.subscribe-message {
	color: hsl(12, 88%, 59%);
	font-style: italic;
	font-size: 0.6rem;
	margin-top: 1em;
	letter-spacing: 1px;
	width: 100%;
}

/****************************** MEDIA QUERIES ************************/

@media only screen and (max-width: 900px) {
	.identity {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.backdrop {
		height: 100%;
		width: 100%;
		background-image: linear-gradient(
			to bottom,
			#b6b6b7,
			#858586,
			#575757,
			#2d2d2d,
			#000000
		);
		position: fixed;
		top: 0;
		left: 0;
		opacity: 0.6;
		z-index: 10;
		display: none;
	}

	.burger-menu {
		display: block;
		cursor: pointer;
		z-index: 100;
	}

	.nav-bar .list {
		position: absolute;
		flex-direction: column;
		background-color: white;
		width: 100%;
		top: 7em;
		right: 0;
		padding: 1.6em 0;
		z-index: 100;
		display: none;
	}

	.backdrop.visible {
		display: block;
	}

	.nav-bar .list.visible {
		display: flex;
		-webkit-animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
			both;
		animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
	}

	.nav-bar .list .list-item {
		margin: 0 0 1.6em 0;
	}

	.cta-header {
		display: none;
	}

	.intro {
		flex-direction: column-reverse;
	}

	.main-heading {
		font-size: 2rem;
	}

	.cta-text {
		text-align: center;
	}

	.intro .content {
		width: 100%;
	}

	.different {
		flex-direction: column;
	}

	.different::before {
		background: none;
	}

	.different-left {
		text-align: center;
		margin: 3em 0;
	}

	.box-number {
		background-color: hsl(13, 100%, 96%);
	}

	.testimonials-section {
		margin-bottom: 3em;
	}

	.testimonials-container {
		flex-direction: column;
	}

	.testimonial + .testimonial {
		margin-left: 0;
	}

	.testimonial {
		margin-bottom: 4em;
	}

	.cta-container {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
	}

	.heading-inverted {
		width: 100%;
	}

	.cta-inverted {
		margin-top: 2em;
	}

	.flex-footer {
		flex-direction: column-reverse;
	}

	.nav-bar-bottom {
		margin: 0 0 3em 0;
	}

	.social-media {
		flex-direction: column-reverse;
		align-items: center;
	}

	.social-media-icons {
		width: 100%;
		margin-bottom: 2em;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.social-media-icons i {
		font-size: 1.8rem;
		margin: 0;
	}
	.subscribe-message {
		width: 40%;
	}
}

@-webkit-keyframes scale-in-center {
	0% {
		-webkit-transform: scale(0);
		transform: scale(0);
		opacity: 1;
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
		opacity: 1;
	}
}
@keyframes scale-in-center {
	0% {
		-webkit-transform: scale(0);
		transform: scale(0);
		opacity: 1;
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
		opacity: 1;
	}
}
